.ScrollInfo{
    position: fixed;
    width: 250px;
    height: 300px;
    right: 0;
    bottom: 0;
    border: 1px solid #cecece;
    z-index: 100;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    .title{height: 30px; line-height: 30px; padding-left: 10px; color: white; font-size: 13px}
    .close{position: absolute; width: 24px; height: 24px; right: 3px; top: 3px; cursor: pointer}
    .scroll_con{
        height: 268px; overflow: hidden; position: relative;
        .scroll_con_main{position: absolute; width: 100%; top: 0; padding: 5px 10px}
    }
}
.ScrollInfo_box{position: fixed; right: 0; bottom: 0; color: white; padding: 3px 6px 3px 2px; border-radius: 4px; cursor: pointer; font-size: 13px}