@primary-color: #68DE06;
@btn-border-radius: 4px;

.theme_bg{background-color: @primary-color;}
.theme_fc{color: @primary-color;}
.btn_border_radius{border-radius: @btn-border-radius}

*{padding: 0; margin: 0}
html, body, #root, .Home, .Dlyb, .Hszz, .Xtgl{height: 100%; overflow-y: hidden}
.ty_flex{display: flex}